.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .logo {
    width: 158px;
    height: 36px;
  }

  .searches {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;

    .text {
      font-size: 16px;
      font-family: Work Sans;
      line-height: 24px;

      .link {
        text-decoration: none;
        color: #3b3c4a;
      }
    }

    .containerInput {
      position: relative;

      .input {
        width: 166px;
        height: 36px;
        padding: 8px 8px 8px 16px;
        background-color: #f4f4f5;
        border: none;
        border-radius: 5px;
      }

      .svgSearch {
        content: "";
        position: absolute;
        top: 10px;
        left: 135px;
        right: 0;
        bottom: 0;
      }
    }
  }
}
