@import "../../stylesheets/variables/font";

.container {
  width: 100%;
  padding: 32px 0;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      width: 158px;
      height: 36px;
    }

    .searches {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        margin-right: 21px;
        
        .link {
          font-family: $font-familyVariant;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          color: #3b3c4a;
        }
      }

      .containerInput {
        position: relative;
        width: 166px;

        .svgSearch {
          content: "";
          position: absolute;
          top: 10px;
          right: 10px;
          bottom: 0;
        }
      }
    }
  }
}
